{% extends "layout.html" %}

{% block content %}
<style>
.or_option{
    font-size: 14px;
    color: #008ed6;
    text-transform: uppercase;
    margin-top: 65px;
    font-weight: 700;
}
</style>

<div class="col-xs-12 col-sm-12 col-md-12">
	<div class="page-header">
		<h1><i class="fa fa-cog"></i> Panou de control <small>creează și testează propria rețea neurală</small></h1>
	</div>

	<div style="clear:both"></div>



	<center>
		<span class="or_option">adaugă un proiect nou</span>
		<img class="img-responsive" src="/static/img/daag.png" alt="">
	</center>

	<form action="" method="post" name="createProject">
      {{ form.hidden_tag() }}
      <p>
      	{{ form.projectName.label }} <br>
     	{{ form.projectName }} <br>   
      </p>

      <p>
      	{{ form.accessCode.label }} <br>
     	{{ form.accessCode }} <br>   
      </p>

      {{ form.submit }}
  	</form>

	<div style="clear:both"></div><br>

	<center><h2>SAU</h2>
		<span class="or_option">vizualizează alte proiecte</span>
		<img class="img-responsive" src="/static/img/daag.png" alt="">
	</center>
</div>

<br><div style="clear:both"></div><br>

{% endblock %}
