<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon.ico' />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
    <script src="/static/js/modernizr.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- ====================================================
    header section -->
    <header class="top-header">
        <div class="container">
            <div class="row">
                <!-- nav starts here -->
                <div class="col-md-12">                 
                    <nav class="navbar navbar-default">
                        <div class="container-fluid nav-bar">
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                              <a href="/home"><img src="/static/img/logo.png" alt="" class="img-responsive logo"></a>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ url_for('home') }}">Acasă</a></li>
                                <li><a href="#features">Caracteristici</a></li>
                                <li><a href="#about">Despre proiect</a></li>
                                <li><a href="{{ url_for('dashboard') }}" style="color: #008ed6"><i class="fa fa-tachometer"></i> PANOU DE CONTROL</a></li>
                              </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header><!-- end of header section -->

    <!-- banner section starts here -->
    <section class="banner" id="home">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 wow fadeInLeft animated">
                    <h3>inteligența artificială</h3>
                    <h1>Rețele neurale pentru oricine și oricând</h1>
                    <p>În ultima perioadă nu mai există soft modern care să nu fie și INTELIGENT, dar câți dintre noi au avut ocazia să testeze o rețea neurală și să înțeleaga ce se află în spatele ei? De cele mai multe ori este complicat să îți configurezi propriul proiect, așa că vă prezentăm o soluție simplă, rapidă și care rulează direct în browser-ul dumneavoastră.</p>
                    <br><br>
                    <a href="{{ url_for('dashboard') }}" class="download-btn">Testeaz&#258; acum</a>
                    <a href="#about" class="features-btn">Despre proiect</a>
                    <br><br><br><br>
                </div>
                <div class="col-xs-6 banner-img wow fadeInRight animated">
                    <img class="img-responsive" src="/static/img/neural-brain.png" alt="">
                </div>
            </div>
        </div>
    </section><!-- end of banner section -->

    <!-- feature sectiona -->
    <section class="features text-center" id="features">
        <div class="container">
            <div class="row">
                <h4>prezentare generală</h4>
                <h2>O listă de caracteristici uimitoare</h2>
                <img class="img-responsive" src="/static/img/daag.png" alt="">
                <div class="col-md-3 wow zoomIn animated">
                    <i class="fa fa-bolt"></i>
                    <h3>Rapid și ușor</h3>
                    <p>Niciodată nu a fost mai rapid și ușor să rulezi o rețea neurală. Poți uita de zilele întregi de configurări și bătăi de cap.</p>
                </div>
                <div class="col-md-3 wow zoomIn animated">
                    <i class="fa fa-cog"></i>
                    <h3>Customizabil</h3>
                    <p>Poți face aproape tot ce iți dorești cu rețeaua ta, iar dacă găsești un neajuns, te poți implica pentru adăugarea de noi funcționalități.</p>
                </div>
                <div class="col-md-3 wow zoomIn animated">
                    <i class="fa fa-eye"></i>
                    <h3>Intuitiv</h3>
                    <p>De ce să mai înveți niște limbaje în plus doar pentru a putea rula o rețea neurală? Aici te bucuri de o interfață web intuitivă și ușor de folosit.</p>
                </div>
                <div class="col-md-3 wow zoomIn animated">
                    <i class="fa fa-thumbs-o-up"></i>
                    <h3>Distractiv</h3>
                    <p>Descoperă un mod inedit prin care poți învăța în timp ce lucrezi și cercetezi iar orele petrecute aici se vor transforma în momente de relaxare.</p>
                </div>
            </div>
        </div>
    </section><!-- end of features section -->
    <hr>
    <!-- details section -->
    <section class="details" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-xs-6 col-sm-6 wow slideInUp animated">
                    <img class="img-responsive details-phone" src="/static/img/data-networks.png" alt="">
                </div>
                <div class="col-md-6 col-md-offset-1 col-xs-6 col-sm-6 wow slideInUp animated">
                    <h4>ce este neXuralNetwork</h4>
                    <h2>Detalii despre proiect</h2>
                    <img class="img-responsive" src="/static/img/daag.png" alt="">
                    <p>Pornit ca o inițiativă a autorului de a studia tehnici și algoritmi de inteligență artificială, s-a transformat într-un proiect ce își dorește să ofere oricărei persoane posibilitatea de a învăța și testa aceste abordări într-un mod cât mai simplu și eficient. </p>
                    <ul>
                        <li><i class="fa fa-trophy"></i>Un proiect în continuă creștere</li>
                        <li><i class="fa fa-graduation-cap"></i>Un mod ușor de a învăța</li>
                        <li><i class="fa fa-tachometer"></i>Tone de funcționalități</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!-- end of details section -->

    <!-- features details section -->
    <section class="feature-detail">
        <div class="container">
            <div class="row">
                <div class="col-xs-5 wow fadeInLeft animated">
                    <h4>un proiect în creștere</h4>
                    <h2>Implică-te și tu!</h2>
                    <img src="/static/img/daag.png" alt="">
                    <p>Vrei să ajuți? Nimic mai simplu! Acest proiect este format din două componente, rețeaua neurală și interfața web. Poți contribuii la oricare dintre ele, extinderea funcționalităților este prioritară pentru noi! Cele două repositories le găsiți pe GitHub:
                    <br><br>
                    <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/nitnelav1101/nexuralnetwork">neXuralNetwork</a> <br>
                    <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/nitnelav1101/nexuralnetwork-web">neXuralNetwork-WEB</a>
                    </p>
                </div>
                <div class="col-xs-7 horizontal-phone wow fadeInRight animated">
                    <img class="img-responsive" src="/static/img/contribute.png" alt="phone">
                </div>
            </div>
        </div>
    </section><!-- end of features-detail section -->
        
    <!-- footer starts here -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="icons">
                        <img src="/static/img/nexural-project.png">
                        
                    </div>
                    <p>COPYRIGHT &copy; 2017 <a href="#"> Un proiect open-source!</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- script tags
    ============================================================= -->
    <script src="/static/js/smoothscroll.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/wow.js"></script>
</body>
</html>