{% extends "layout.html" %}

{% block content %}

<div class="col-xs-12 col-sm-12 col-md-12">
	<div class="page-header">
        {% if isProjectOwner == True %}
        <h1><i class="fa fa-cog"></i> Gestionați proiectul <small>{{ projectName }}</small></h1>
        {% else %}
        <h1><i class="fa fa-cog"></i> Vizualizați proiectul <small>{{ projectName }}</small></h1>
        {% endif %}
    </div>

    <div class="col-md-12">
        <ol class="breadcrumb bread-primary ">
            <li><i class="fa fa-home" aria-hidden="true"></i> <a href="{{ url_for('dashboard') }}">PANOU DE CONTROL</a></li>
            {% if isProjectOwner == True %}
            <li class="active">GESTIONARE PROIECT</li>
            {% else %}
            <li class="active">VIZUALIZARE PROIECT</li>
            {% endif %}
        </ol>
    </div>

    <div style="clear:both"></div>


    <div class="col-md-5">
        {% if isProjectOwner == True %}
        <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#formAddNetworkFileModal"><i class="fa fa-plus" aria-hidden="true"></i> Adaugă fișier de configurare a rețelei neurale</button>
        <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#formAddTrainingFileModal"><i class="fa fa-plus" aria-hidden="true"></i> Adaugă fișier de configurare al modului de antrenament</button>
        <a href="{{ url_for('manageProjectDatasets', projectName = projectName) }}" class="btn btn-block btn-warning"><i class="fa fa-database" aria-hidden="true"></i> Gestionează seturile de date</a>
        <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#formAddNetworkTrainingModal"><i class="fa fa-cogs" aria-hidden="true"></i> Efectuează un antrenament nou</button>
        {% else %}
        <div class="alert alert-danger">
          <strong>ATENȚIE!</strong> În acest moment vizualizați acest proiect ca vizitator. Acest lucru înseamnă că nu puteți face modificări, doar puteți vizualiza activitatea proprietarului. Dacă sunteți proprietarul acestui proiect, vă rugăm să furnizați codul de acces setat la crearea proiectului prin apăsarea următorului buton:
      </div>
      <a href="{{ url_for('secureProject', projectName = projectName) }}" class="btn btn-block btn-danger">Sunt proprietarul proiectului</a>
      {% endif %}
  </div>

  <div class="col-md-7"> 
    <div style="clear:both"></div>
    <div class="instructions">
        <div class="col-xs-12 col-md-4">
            <div class="widget red-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-file-text-o fa-4x"></i>
                    <h1 class="m-xs">{{ availableNetworkArhitectures|length }}</h1>
                    <h3 class="font-bold no-margins">
                     Fișier(e) de configurare a rețelei neurale de convoluție
                 </h3>
             </div>
         </div>  
     </div>

     <div class="col-xs-12 col-md-4">
        <div class="widget lazur-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-file-code-o fa-4x"></i>
                <h1 class="m-xs">{{ availableTrainingFiles|length }}</h1>
                <h3 class="font-bold no-margins">
                    Fișier(e) de configurare al modului de antrenament
                </h3>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-cogs fa-4x"></i>
                <h1 class="m-xs">{{ availableTrainings|length }}</h1>
                <h3 class="font-bold no-margins">
                    Antrenament(e) efectuat(e) în acest proiect
                </h3>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
</div>

</div>

<div style="clear:both"></div><br>

<div class="col-md-12">
    <!-- Nav tabs -->
    <div class="card">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#antrenamente" aria-controls="antrenamente" role="tab" data-toggle="tab"><i class="fa fa-cogs"></i> Antrenamente efectuate</a></li>
            <li role="presentation"><a href="#fisiereconfigurare" aria-controls="fisiereconfigurare" role="tab" data-toggle="tab"><i class="fa fa-file-text-o"></i> Fișiere de configurare a rețelei neurale</a></li>
            <li role="presentation"><a href="#fisiereantremaent" aria-controls="fisiereantremaent" role="tab" data-toggle="tab"><i class="fa fa-file-code-o"></i> Fișiere de configurare modului de antrenament</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="fisiereconfigurare">
                <table class="table table-striped">
                    <thead>
                        <tr>
                         <th>Nume fișier</th>
                         <th class="text-right"></th>
                     </tr>
                 </thead>
                 <tbody>
                    {% if availableNetworkArhitectures|length == 0 %}
                    <tr><td>nu sunt fisiere disponibile</td></tr>
                    {% endif %}

                    {% for key, value in availableNetworkArhitectures.iteritems() %}
                    <tr>
                        <td> {{ key }}</td>
                        <td class="text-right"> 
                            <button name="buttonViewNetworkConfigInfo" value="/services/displayNetworkConfig/{{ projectName }}/{{ key }}" class="btn btn-success"><i class="fa fa-eye" aria-hidden="true"></i> Vizualizează</button>
                            <a href="{{ url_for('downloadConfigFile', projectName = projectName, configType = 'netConfig', fileName = key) }}" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Descarcă</a>
                            {% if isProjectOwner == True %}
                            <a href="{{ url_for('deleteConfigFile', projectName = projectName, networkConfigFile = key) }}" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Șterge</a>
                            {% endif %}
                        </td>
                    </tr>          
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane" id="fisiereantremaent">
            <table class="table table-striped">
                <thead>
                    <tr>
                     <th>Nume fișier</th>
                     <th class="text-right"></th>
                 </tr>
             </thead>
             <tbody>
                {% if availableTrainingFiles|length == 0 %}
                <tr><td>nu sunt fisiere disponibile</td></tr>
                {% endif %}

                {% for key, value in availableTrainingFiles.iteritems() %}
                <tr>
                    <td> {{ key }}</td>
                    <td class="text-right"> 
                        <button name="buttonViewTrainingConfigInfo" value="/services/displayTrainingConfig/{{ projectName }}/{{ key }}" class="btn btn-success"><i class="fa fa-eye" aria-hidden="true"></i> Vizualizează</button>
                        <a href="{{ url_for('downloadConfigFile', projectName = projectName, configType = 'trainConfig', fileName = key) }}" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Descarcă</a>
                        {% if isProjectOwner == True %}
                        <a href="{{ url_for('deleteTrainingFile', projectName = projectName, trainingConfigFile = key) }}" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Șterge</a>
                        {% endif %}
                    </td>
                </tr>          
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div role="tabpanel" class="tab-pane active" id="antrenamente">
        <table class="table table-striped">
            <thead>
                <tr>
                 <th>Nume antrenament</th>
                 <th class="text-right"></th>
             </tr>
         </thead>
         <tbody>
            {% if availableTrainings|length == 0 %}
            <tr><td>nu sunt antrenamente disponibile</td></tr>
            {% endif %}

            {% for training in availableTrainings %}
            <tr>
                <td> {{ training }}</td>
                <td class="text-right"> 
                    <a href="{{ url_for('viewTraining', projectName = projectName, trainingName = training) }}" class="btn btn-success"><i class="fa fa-eye" aria-hidden="true"></i> Vizualizează</a>
                    {% if isProjectOwner == True %}
                    <a href="{{ url_for('deleteTraining', projectName = projectName, trainingName = training) }}" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Șterge</a>
                    {% endif %}
                </td>
            </tr>          
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
</div>

</div>


<br><div style="clear:both"></div>

{% if isProjectOwner == True %}
<hr>

<div class="col-md-12">
<section class="widget-type2">
    <header>
        <h2>
            Instrucțiuni de utilizare:
        </h2>
    </header>

    <div class="widget-type2-body">
        <p><strong>Această secțiune</strong> vă permite să gestionați proiectul curent. Puteți adăuga fișiere noi de configurare a rețelei sau al modului de antrenamnet și bineînțeles puteți iniția antrenamente noi sau pur și simplu vizualizați detalii legate de fișierele deja generate.</p>
        <ul class="text-list">
            <li><strong>Adaugă fișier de configurare a rețelei neurale</strong> - acest fișier conține structura rețelei neurale de convoluție împreună cu setările fiecărui strat;</li>
            <li><strong>Adaugă fișier de configurare al modului de antrenament</strong> - acest fișier conține parametrii ce se vor utiliza în cadrul pasului de antrenare;</li>
            <li><strong>Gestionează seturile de date</strong> - adauga sau modifică seturile de date ce sunt utilizate la pasul de antrenare al rețelei neurale de convoluție;</li>
            <li><strong>Efectuează un antrenament nou</strong> - pornește un antrenament nou ce o să folosească fișierele de configurare dorite împreună cu unul din seturile de date existente;</li>
        </ul>

        <p>
            Vă punem la dispoziție două fișiere model, unul pentru configurarea rețelei dorite, iar celalalt pentru configurarea modului de antrenament. Puteți modifica parametrii, singura restricție fiind aceea de a păstra structura, in caz contrar când veți rula antrenamentul o să primiți mesaje de eroare.
        </p>
        <a href="{{ url_for('downloadExampleFile', fileName = 'network.json') }}" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Exemplu fișier de configurare</a>
        <a href="{{ url_for('downloadExampleFile', fileName = 'trainer.json') }}" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Exemplu fișier de antrenament</a>
        <br><br>
        <p>
            <i>Dacă întâmpinați probleme (erori) la una dintre opțiunile platformei vă rugăm să ne contactați! Vă mulțumim!</i>
        </p>

    </div>
</section>
</div>

<br><div style="clear:both"></div><br>

<!-- Modal add network file -->
<div class="modal fade" id="formAddNetworkFileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Adaugă un fișier nou de configurare a rețelei neurale</h4>
    </div>
    <form class="form form-horizontal" action="{{ url_for('addNetworkFile', projectName = projectName) }}" method="post" enctype="multipart/form-data" name="addNetworkFile">
      {{ formAddNetworkFile.hidden_tag() }}
      <div class="modal-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            {{ formAddNetworkFile.hidden_tag() }}
            <div class="col-xs-12 col-sm-12 col-md-12">
                {{ formAddNetworkFile.networkFile(class_="form-control") }}  
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Inchide</button>
        {{ formAddNetworkFile.submit(id_="button", class_="btn btn-primary") }}
    </div>
</form>
</div>
</div>
</div>

<!-- Modal add training file -->
<div class="modal fade" id="formAddTrainingFileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Adaugă un fișier nou de configurare al modului de antrenament</h4>
    </div>

    <form class="form form-horizontal" action="{{ url_for('addTrainingFile', projectName = projectName) }}" method="post" enctype="multipart/form-data" name="addTrainingFile">
      {{ formAddTrainingFile.hidden_tag() }}
      <div class="modal-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            {{ formAddTrainingFile.hidden_tag() }}
            <div class="col-xs-12 col-sm-12 col-md-12">
                {{ formAddTrainingFile.trainingFile(class_="form-control") }}  
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Inchide</button>
        {{ formAddTrainingFile.submit(id_="button", class_="btn btn-primary") }}
    </div>
</form>
</div>
</div>
</div>


<!-- Modal add training -->
<div class="modal fade" id="formAddNetworkTrainingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Efectuează un antrenament nou</h4>
    </div>
    <form class="form form-horizontal" action="{{ url_for('addNetworkTraining', projectName = projectName) }}" method="post" enctype="multipart/form-data" name="addNetworkTraining">
      {{ formAddNetworkTraining.hidden_tag() }}
      <div class="modal-body">
       <div class="row">
        <div class="col-md-6">
            {{ formAddNetworkTraining.trainingName.label }} <br>
            {{ formAddNetworkTraining.trainingName(class_="form-control") }} <br>
        </div>

        <div class="col-md-6">
            {{ formAddNetworkTraining.networkArhitecture.label }} <br>
            {{ formAddNetworkTraining.networkArhitecture(class_="form-control") }} <br>
        </div>

        <div class="col-md-6">
            {{ formAddNetworkTraining.trainingFile.label }} <br>
            {{ formAddNetworkTraining.trainingFile(class_="form-control") }} <br>
        </div>

        <div class="col-md-6">
            {{ formAddNetworkTraining.trainingDataSet.label }} <br>
            {{ formAddNetworkTraining.trainingDataSet(class_="form-control") }} <br>
        </div>

        {% if hasProjectTrainings == True %}
            <div style="clear:both"></div><hr>

            <div class="col-md-6">
                {{ formAddNetworkTraining.continueExistingTraining.label }} <br>
                {{ formAddNetworkTraining.continueExistingTraining }} <br>
            </div>

            <div class="col-md-6">
                {{ formAddNetworkTraining.existingTrainingNameHidden.label }} <br>
                <select disabled class="form-control" id="existingTrainingName"></select>
                {{ formAddNetworkTraining.existingTrainingNameHidden }} <br>
            </div>

            <div class="col-md-6">
                {{ formAddNetworkTraining.existingTrainingEpochHidden.label }} <br>
                <select disabled class="form-control" id="existingTrainingEpoch" name="trainingDataSet"></select>
                {{ formAddNetworkTraining.existingTrainingEpochHidden }} <br>
            </div>
        {% endif %}

    </div>
    <div style="clear:both"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Inchide</button>
    {{ formAddNetworkTraining.submit(id_="button", class_="btn btn-primary") }}
</div>
</form>
</div>
</div>
</div>


<!-- Modal view network config info -->
    <div class="modal fade" id="displayNetworkConfigInfos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Structura retelei neurale</h4>
                </div>
                    <div class="modal-body">
                        <div class="row">
                            <div id="viewNetworkConfigContent"></div>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Inchide</button>
                    </div>
              
            </div>
        </div>
    </div>


<!-- Modal view network config info -->
    <div class="modal fade" id="displayTrainingConfigInfos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Optiuni antrenament</h4>
                </div>
                    <div class="modal-body">
                        <div class="row">
                            <div id="viewTrainingConfigContent"></div>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Inchide</button>
                    </div>
              
            </div>
        </div>
    </div>



<script>
    $(document).ready(function() {

        // View network config details
        $("button[name^=buttonViewNetworkConfigInfo]").click(function(e) {
        e.preventDefault();
        queryUrl = $(this).attr("value");
            $.ajax({
                type: 'GET',
                cache: false,
                url: queryUrl, 
                success: function(resp){
                    $("#viewNetworkConfigContent").empty();
                    $('#viewNetworkConfigContent').html(resp.data);
                    $('#displayNetworkConfigInfos').modal('toggle');
                }
            });
        });

        // View training config details
        $("button[name^=buttonViewTrainingConfigInfo]").click(function(e) {
        e.preventDefault();
        queryUrl = $(this).attr("value");
            $.ajax({
                type: 'GET',
                cache: false,
                url: queryUrl, 
                success: function(resp){
                    $("#viewTrainingConfigContent").empty();
                    $('#viewTrainingConfigContent').html(resp.data);
                    $('#displayTrainingConfigInfos').modal('toggle');
                }
            });
        });

        // Check if user selected to continue an existing training
        $("#continueExistingTraining-0").change(function(){ 
            if( $(this).is(":checked") ){
                var selectedValue = $(this).val();

                // Remove all elements from the existing trainings list
                $("#existingTrainingName").children().remove();

                $.ajax({
                    type: 'GET',
                    cache: false,
                    url: "/services/getProjectTrainingsName/{{ projectName }}", 
                    success: function(resp){
                        for(var key in resp.data) {
                            $("#existingTrainingName").append('<option value=' + resp.data[key] + '>' + resp.data[key] + '</option>');
                        }
                        
                        // Assign value to the hidden field and enable the interface
                        $('input[name="existingTrainingNameHidden"]').val($('#existingTrainingName').find(":selected").text());
                        $("#existingTrainingName").prop('disabled', false);
                        $('#existingTrainingName').trigger('change');
                    }
                });
            }
        });

        // Check any change event for the existing trainings select field
        $('#existingTrainingName').change(function(){
            // Assign value to the hidden field
            var selectedValue = $(this).find("option:selected").attr('value');
            $('input[name="existingTrainingNameHidden"]').val(selectedValue);
            // Remove all elements from the the epochs list
            $("#existingTrainingEpoch").children().remove();

                $.ajax({
                    type: 'GET',
                    cache: false,
                    url: "/services/getTrainingEpochsName/{{ projectName }}/" + selectedValue, 
                    success: function(resp){
                        for(var key in resp.data) {
                            $("#existingTrainingEpoch").append('<option value=' + resp.data[key] + '>' + resp.data[key] + '</option>');
                        }

                        // Assign value to the hidden field and enable the interface
                        $('input[name="existingTrainingEpochHidden"]').val($('#existingTrainingEpoch').find(":selected").text());
                        $("#existingTrainingEpoch").prop('disabled', false);
                    }
                });  
        });

        // Check any change event for the existing training epochs select field
        $('#existingTrainingEpoch').change(function(){
            // Assign value to the hidden field
            var selectedValue = $(this).find("option:selected").attr('value');
            $('input[name="existingTrainingEpochHidden"]').val(selectedValue);
        });

        // Reset fields when continue training is off
        $("#continueExistingTraining-1").change(function(){ 
            if( $(this).is(":checked") ){
                $("#existingTrainingName").children().remove();
                $("#existingTrainingName").prop('disabled', true);
                $("#existingTrainingEpoch").children().remove();
                $("#existingTrainingEpoch").prop('disabled', true);
            }
        });
    }); 
</script>

{% endif %}

{% endblock %}