{% extends "layout.html" %}

{% block content %}

<script src="/static/js/jsoneditor.min.js"></script>

<div class="col-xs-12 col-sm-12 col-md-12">
	<div class="page-header">
        {% if isProjectOwner == True %}
        <h1><i class="fa fa-cog"></i> Gestionați proiectul <small>{{ projectName }}</small></h1>
        {% else %}
        <h1><i class="fa fa-cog"></i> Vizualizați proiectul <small>{{ projectName }}</small></h1>
        {% endif %}
    </div>

    <div class="col-md-12">
        <ol class="breadcrumb bread-primary ">
            <li><i class="fa fa-home" aria-hidden="true"></i> <a href="{{ url_for('dashboard') }}">PANOU DE CONTROL</a></li>
            {% if isProjectOwner == True %}
            <li class="active">GESTIONARE PROIECT</li>
            {% else %}
            <li class="active">VIZUALIZARE PROIECT</li>
            {% endif %}
        </ol>
    </div>

    <div style="clear:both"></div>


    <div class="col-md-5">
        {% if isProjectOwner == True %}
        <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#formAddNetworkFileModal"><i class="fa fa-plus" aria-hidden="true"></i> Adaugă fișier de configurare a rețelei neurale</button>
        <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#formAddTrainingFileModal"><i class="fa fa-plus" aria-hidden="true"></i> Adaugă fișier de configurare al modului de antrenament</button>
        <a href="{{ url_for('manageProjectDatasets', projectName = projectName) }}" class="btn btn-block btn-warning"><i class="fa fa-database" aria-hidden="true"></i> Gestionează seturile de date</a>
        <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#formAddNetworkTrainingModal"><i class="fa fa-cogs" aria-hidden="true"></i> Efectuează un antrenament nou</button>
        {% else %}
        <div class="alert alert-danger">
          <strong>ATENȚIE!</strong> În acest moment vizualizați acest proiect ca vizitator. Acest lucru înseamnă că nu puteți face modificări, doar puteți vizualiza activitatea proprietarului. Dacă sunteți proprietarul acestui proiect, vă rugăm să furnizați codul de acces setat la crearea proiectului prin apăsarea următorului buton:
      </div>
      <a href="{{ url_for('secureProject', projectName = projectName) }}" class="btn btn-block btn-danger">Sunt proprietarul proiectului</a>
      {% endif %}
  </div>

  <div class="col-md-7"> 
    <div style="clear:both"></div>
    <div class="instructions">
        <div class="col-xs-12 col-md-4">
            <div class="widget red-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-file-text-o fa-4x"></i>
                    <h1 class="m-xs">{{ availableNetworkArhitectures|length }}</h1>
                    <h3 class="font-bold no-margins">
                     Fișier(e) de configurare a rețelei neurale de convoluție
                 </h3>
             </div>
         </div>  
     </div>

     <div class="col-xs-12 col-md-4">
        <div class="widget lazur-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-file-code-o fa-4x"></i>
                <h1 class="m-xs">{{ availableTrainingFiles|length }}</h1>
                <h3 class="font-bold no-margins">
                    Fișier(e) de configurare al modului de antrenament
                </h3>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-cogs fa-4x"></i>
                <h1 class="m-xs">{{ availableTrainings|length }}</h1>
                <h3 class="font-bold no-margins">
                    Antrenament(e) efectuat(e) în acest proiect
                </h3>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
</div>

</div>

<div style="clear:both"></div><br>

<div class="col-md-12">
    <!-- Nav tabs -->
    <div class="card">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#antrenamente" aria-controls="antrenamente" role="tab" data-toggle="tab"><i class="fa fa-cogs"></i> Antrenamente efectuate</a></li>
            <li role="presentation"><a href="#fisiereconfigurare" aria-controls="fisiereconfigurare" role="tab" data-toggle="tab"><i class="fa fa-file-text-o"></i> Fișiere de configurare a rețelei neurale</a></li>
            <li role="presentation"><a href="#fisiereantremaent" aria-controls="fisiereantremaent" role="tab" data-toggle="tab"><i class="fa fa-file-code-o"></i> Fișiere de configurare modului de antrenament</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="fisiereconfigurare">
                <table class="table table-striped">
                    <thead>
                        <tr>
                         <th>Nume fișier</th>
                         <th class="text-right"></th>
                     </tr>
                 </thead>
                 <tbody>
                    {% if availableNetworkArhitectures|length == 0 %}
                    <tr><td>nu sunt fisiere disponibile</td></tr>
                    {% endif %}

                    {% for key, value in availableNetworkArhitectures.iteritems() %}
                    <tr>
                        <td> {{ key }}</td>
                        <td class="text-right"> 
                            <button name="buttonViewNetworkConfigInfo" value="/services/displayNetworkConfig/{{ projectName }}/{{ key }}" class="btn btn-success"><i class="fa fa-eye" aria-hidden="true"></i> Vizualizează</button>
                            <a href="{{ url_for('downloadConfigFile', projectName = projectName, configType = 'netConfig', fileName = key) }}" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Descarcă</a>
                            {% if isProjectOwner == True %}
                            <a href="{{ url_for('deleteConfigFile', projectName = projectName, networkConfigFile = key) }}" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Șterge</a>
                            {% endif %}
                        </td>
                    </tr>          
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane" id="fisiereantremaent">
            <table class="table table-striped">
                <thead>
                    <tr>
                     <th>Nume fișier</th>
                     <th class="text-right"></th>
                 </tr>
             </thead>
             <tbody>
                {% if availableTrainingFiles|length == 0 %}
                <tr><td>nu sunt fisiere disponibile</td></tr>
                {% endif %}

                {% for key, value in availableTrainingFiles.iteritems() %}
                <tr>
                    <td> {{ key }}</td>
                    <td class="text-right"> 
                        <button name="buttonViewTrainingConfigInfo" value="/services/displayTrainingConfig/{{ projectName }}/{{ key }}" class="btn btn-success"><i class="fa fa-eye" aria-hidden="true"></i> Vizualizează</button>
                        <a href="{{ url_for('downloadConfigFile', projectName = projectName, configType = 'trainConfig', fileName = key) }}" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Descarcă</a>
                        {% if isProjectOwner == True %}
                        <a href="{{ url_for('deleteTrainingFile', projectName = projectName, trainingConfigFile = key) }}" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Șterge</a>
                        {% endif %}
                    </td>
                </tr>          
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div role="tabpanel" class="tab-pane active" id="antrenamente">
        <table class="table table-striped">
            <thead>
                <tr>
                 <th>Nume antrenament</th>
                 <th class="text-right"></th>
             </tr>
         </thead>
         <tbody>
            {% if availableTrainings|length == 0 %}
            <tr><td>nu sunt antrenamente disponibile</td></tr>
            {% endif %}

            {% for training in availableTrainings %}
            <tr>
                <td> {{ training }}</td>
                <td class="text-right"> 
                    <a href="{{ url_for('viewTraining', projectName = projectName, trainingName = training) }}" class="btn btn-success"><i class="fa fa-eye" aria-hidden="true"></i> Vizualizează</a>
                    {% if isProjectOwner == True %}
                    <a href="{{ url_for('deleteTraining', projectName = projectName, trainingName = training) }}" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Șterge</a>
                    {% endif %}
                </td>
            </tr>          
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
</div>

</div>


<br><div style="clear:both"></div>

{% if isProjectOwner == True %}
<hr>

<div class="col-md-12">
<section class="widget-type2">
    <header>
        <h2>
            Instrucțiuni de utilizare:
        </h2>
    </header>

    <div class="widget-type2-body">
        <p><strong>Această secțiune</strong> vă permite să gestionați proiectul curent. Puteți adăuga fișiere noi de configurare a rețelei sau al modului de antrenamnet și bineînțeles puteți iniția antrenamente noi sau pur și simplu vizualizați detalii legate de fișierele deja generate.</p>
        <ul class="text-list">
            <li><strong>Adaugă fișier de configurare a rețelei neurale</strong> - acest fișier conține structura rețelei neurale de convoluție împreună cu setările fiecărui strat;</li>
            <li><strong>Adaugă fișier de configurare al modului de antrenament</strong> - acest fișier conține parametrii ce se vor utiliza în cadrul pasului de antrenare;</li>
            <li><strong>Gestionează seturile de date</strong> - adauga sau modifică seturile de date ce sunt utilizate la pasul de antrenare al rețelei neurale de convoluție;</li>
            <li><strong>Efectuează un antrenament nou</strong> - pornește un antrenament nou ce o să folosească fișierele de configurare dorite împreună cu unul din seturile de date existente;</li>
        </ul>

        <p>
            Vă punem la dispoziție două fișiere model, unul pentru configurarea rețelei dorite, iar celalalt pentru configurarea modului de antrenament. Puteți modifica parametrii, singura restricție fiind aceea de a păstra structura, in caz contrar când veți rula antrenamentul o să primiți mesaje de eroare.
        </p>
        <a href="{{ url_for('downloadExampleFile', fileName = 'network.json') }}" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Exemplu fișier de configurare</a>
        <a href="{{ url_for('downloadExampleFile', fileName = 'trainer.json') }}" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Exemplu fișier de antrenament</a>
        <br><br>
        <p>
            <i>Dacă întâmpinați probleme (erori) la una dintre opțiunile platformei vă rugăm să ne contactați! Vă mulțumim!</i>
        </p>

    </div>
</section>
</div>

<br><div style="clear:both"></div><br>

<!-- Modal add network file -->
<div class="modal fade" id="formAddNetworkFileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Adaugă un fișier nou de configurare a rețelei neurale</h4>
    </div>
    <form class="form form-horizontal" action="{{ url_for('addNetworkFile', projectName = projectName) }}" method="post" enctype="multipart/form-data" name="addNetworkFile">
      {{ formAddNetworkFile.hidden_tag() }}
      <div class="modal-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            {{ formAddNetworkFile.hidden_tag() }}
            <div class="col-xs-12 col-sm-12 col-md-12">
                {{ formAddNetworkFile.networkFile(class_="form-control") }}  
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="modal-footer">
        {{ formAddNetworkFile.submit(id_="button", class_="btn btn-primary") }}
        sau 
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ceNetworkConfigJsonModal">Genereaza un fisier nou </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Inchide</button>
    </div>
</form>
</div>
</div>
</div>

<!-- Modal add training file -->
<div class="modal fade" id="formAddTrainingFileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Adaugă un fișier nou de configurare al modului de antrenament</h4>
    </div>

    <form class="form form-horizontal" action="{{ url_for('addTrainingFile', projectName = projectName) }}" method="post" enctype="multipart/form-data" name="addTrainingFile">
      {{ formAddTrainingFile.hidden_tag() }}
      <div class="modal-body">
        <div class="col-xs-12 col-sm-12 col-md-12">
            {{ formAddTrainingFile.hidden_tag() }}
            <div class="col-xs-12 col-sm-12 col-md-12">
                {{ formAddTrainingFile.trainingFile(class_="form-control") }}  
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="modal-footer">
        {{ formAddTrainingFile.submit(id_="button", class_="btn btn-primary") }}
        sau 
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ceNetworkTrainingJsonModal">Genereaza un fisier nou </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Inchide</button>
    </div>
</form>
</div>
</div>
</div>


<!-- Modal add training -->
<div class="modal fade" id="formAddNetworkTrainingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Efectuează un antrenament nou</h4>
    </div>
    <form class="form form-horizontal" action="{{ url_for('addNetworkTraining', projectName = projectName) }}" method="post" enctype="multipart/form-data" name="addNetworkTraining">
      {{ formAddNetworkTraining.hidden_tag() }}
      <div class="modal-body">
       <div class="row">
        <div class="col-md-6">
            {{ formAddNetworkTraining.trainingName.label }} <br>
            {{ formAddNetworkTraining.trainingName(class_="form-control") }} <br>
        </div>

        <div class="col-md-6">
            {{ formAddNetworkTraining.networkArhitecture.label }} <br>
            {{ formAddNetworkTraining.networkArhitecture(class_="form-control") }} <br>
        </div>

        <div class="col-md-6">
            {{ formAddNetworkTraining.trainingFile.label }} <br>
            {{ formAddNetworkTraining.trainingFile(class_="form-control") }} <br>
        </div>

        <div class="col-md-6">
            {{ formAddNetworkTraining.trainingDataSet.label }} <br>
            {{ formAddNetworkTraining.trainingDataSet(class_="form-control") }} <br>
        </div>

        {% if hasProjectTrainings == True %}
            <div style="clear:both"></div><hr>

            <div class="col-md-6">
                {{ formAddNetworkTraining.continueExistingTraining.label }} <br>
                {{ formAddNetworkTraining.continueExistingTraining }} <br>
            </div>

            <div class="col-md-6">
                {{ formAddNetworkTraining.existingTrainingNameHidden.label }} <br>
                <select disabled class="form-control" id="existingTrainingName"></select>
                {{ formAddNetworkTraining.existingTrainingNameHidden }} <br>
            </div>

            <div class="col-md-6">
                {{ formAddNetworkTraining.existingTrainingEpochHidden.label }} <br>
                <select disabled class="form-control" id="existingTrainingEpoch" name="trainingDataSet"></select>
                {{ formAddNetworkTraining.existingTrainingEpochHidden }} <br>
            </div>
        {% endif %}

    </div>
    <div style="clear:both"></div>
</div>
<div class="modal-footer">
    
    {{ formAddNetworkTraining.submit(id_="button", class_="btn btn-primary") }}
    <button type="button" class="btn btn-default" data-dismiss="modal">Inchide</button>
</div>
</form>
</div>
</div>
</div>


<!-- Modal view network config info -->
    <div class="modal fade" id="displayNetworkConfigInfos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Structura retelei neurale</h4>
                </div>
                    <div class="modal-body">
                        <div class="row">
                            <div id="viewNetworkConfigContent"></div>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Inchide</button>
                    </div>
              
            </div>
        </div>
    </div>


<!-- Modal view network config info -->
    <div class="modal fade" id="displayTrainingConfigInfos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Optiuni antrenament</h4>
                </div>
                    <div class="modal-body">
                        <div class="row">
                            <div id="viewTrainingConfigContent"></div>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Inchide</button>
                    </div>
              
            </div>
        </div>
    </div>



<!-- Modal edit/create network config json -->
    <div class="modal fade" id="ceNetworkConfigJsonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-big" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Generare fisier de configurare</h4>
                </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <b>Nume fisier de configurare:</b> <input type="text" id="netcfgname">
                            </div>
                            <div class="col-md-12">
                                <div id="network_config_editor_holder"></div>
                            </div>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" name="saveNetworkJsonConfig">Salveaza</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Inchide</button>
                    </div>
              
            </div>
        </div>
    </div>



<!-- Modal edit/create training config json -->
    <div class="modal fade" id="ceNetworkTrainingJsonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-big" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <b>Nume fisier de configurare:</b> <input type="text" id="nettrainingcfgname">
                            </div>
                            <div class="col-md-12">
                                <div id="network_training_editor_holder"></div>
                            </div>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" name="saveTrainingJsonConfig">Salveaza</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Inchide</button>
                    </div>
              
            </div>
        </div>
    </div>



<script>

JSONEditor.defaults.languages.ro = {
  error_notset: "propiedad debe existir"
};

var networkEditor = new JSONEditor(document.getElementById("network_config_editor_holder"), {
  schema: {
    "$schema": "Structura retelei neurale",
    "additionalProperties": true,
    "title": "Structura retelei neurale",
    "type": "object",
    "properties": {
        "network_layers": {
            "title": "Straturi",
            "type": "array",
            "format": "tabs",
            "items": {
            	"headerTemplate": "Stratul {% raw %} {{ i1 }} {% endraw %}",
                "oneOf": [
                    {
                        "type": "object",
                        "properties": {
                            "type_0": {
                                "type": "string",
                                "default": "tensor_input",
                                "options": {
                                    "hidden": "true"
                                }
                            },
                            "params": {
                                "title": "Parametrii stratului",
                                "type": "object",
                                "properties": {
                                    "num_samples": {
                                        "type": "string",
                                        "title": "Num of tensor samples",
                                        "default": "1",
                                        "format": "text"
                                    },
                                    "k": {
                                        "type": "string",
                                        "title": "Num of tensor channels",
                                        "default": "1",
                                        "format": "text"
                                    },
                                    "nr": {
                                        "type": "string",
                                        "title": "Num of tensor rows",
                                        "default": "1",
                                        "format": "text"
                                    },
                                    "nc": {
                                        "type": "string",
                                        "title": "Num of tensor cols",
                                        "default": "2",
                                        "format": "text"
                                    }
                                }
                            }
                        },
                        "title": "tensor_input"
                    },

                    {
                        "type": "object",
                        "properties": {
                            "type_1": {
                                "type": "string",
                                "title": "Layer name",
                                "default": "bgr_image_input",
                                "options": {
                                    "hidden": "true"
                                }
                            },
                            "params": {
                                "title": "Parametrii stratului",
                                "type": "object",
                                "properties": {
                                    "input_width": {
                                        "type": "string",
                                        "title": "Input image width",
                                        "default": "3",
                                        "format": "text"
                                    },
                                    "input_height": {
                                        "type": "string",
                                        "title": "Input image height",
                                        "default": "3",
                                        "format": "text"
                                    }
                                }
                            }
                        },
                        "title": "bgr_image_input"
                    },

                    {
                        "type": "object",
                        "properties": {
                            "type_2": {
                                "type": "string",
                                "title": "Layer name",
                                "default": "gray_image_input",
                                "options": {
                                    "hidden": "true"
                                }
                            },
                            "params": {
                                "title": "Parametrii stratului",
                                "type": "object",
                                "properties": {
                                    "input_width": {
                                        "type": "string",
                                        "title": "Input image width",
                                        "default": "3",
                                        "format": "text"
                                    },
                                    "input_height": {
                                        "type": "string",
                                        "title": "Input image height",
                                        "default": "3",
                                        "format": "text"
                                    }
                                }
                            }
                        },
                        "title": "gray_image_input"
                    },

                    {
                        "type": "object",
                        "properties": {
                            "type_3": {
                                "type": "string",
                                "title": "Layer name",
                                "default": "average_pooling",
                                "options": {
                                    "hidden": "true"
                                }
                            },
                            "params": {
                                "title": "Parametrii stratului",
                                "type": "object",
                                "properties": {
                                    "kernel_width": {
                                        "type": "string",
                                        "title": "Kernel width",
                                        "default": "2",
                                        "format": "text"
                                    },
                                    "kernel_height": {
                                        "type": "string",
                                        "title": "Kernel height",
                                        "default": "2",
                                        "format": "text"
                                    }
                                }
                            }
                        },
                        "title": "average_pooling"
                    },

                    {
                        "type": "object",
                        "properties": {
                            "type_4": {
                                "type": "string",
                                "title": "Layer name",
                                "default": "max_pooling",
                                "options": {
                                    "hidden": "true"
                                }
                            },
                            "params": {
                                "title": "Parametrii stratului",
                                "type": "object",
                                "properties": {
                                    "kernel_width": {
                                        "type": "string",
                                        "title": "Kernel width",
                                        "default": "2",
                                        "format": "text"
                                    },
                                    "kernel_height": {
                                        "type": "string",
                                        "title": "Kernel height",
                                        "default": "2",
                                        "format": "text"
                                    }
                                }
                            }
                        },
                        "title": "max_pooling"
                    },

                    {
                        "type": "object",
                        "properties": {
                            "type_5": {
                                "type": "string",
                                "title": "Layer name",
                                "default": "convolutional",
                                "options": {
                                    "hidden": "true"
                                }
                            },
                            "params": {
                                "title": "Parametrii stratului",
                                "type": "object",
                                "properties": {
                                    "num_of_filters": {
                                        "type": "string",
                                        "title": "Num of filters",
                                        "default": "5",
                                        "format": "text"
                                    },
                                    "kernel_width": {
                                        "type": "string",
                                        "title": "Kernel width",
                                        "default": "3",
                                        "format": "text"
                                    },
                                    "kernel_height": {
                                        "type": "string",
                                        "title": "Kernel height",
                                        "default": "3",
                                        "format": "text"
                                    },
                                    "padding_width": {
                                        "type": "string",
                                        "title": "Padding width",
                                        "default": "0",
                                        "format": "text"
                                    },
                                    "padding_height": {
                                        "type": "string",
                                        "title": "Padding height",
                                        "default": "0",
                                        "format": "text"
                                    },
                                    "stride_width": {
                                        "type": "string",
                                        "title": "Stride width",
                                        "default": "0",
                                        "format": "text"
                                    },
                                    "stride_height": {
                                        "type": "string",
                                        "title": "Stride height",
                                        "default": "0",
                                        "format": "text"
                                    }
                                }
                            }
                        },
                        "title": "convolutional"
                    },

                    {
                        "type": "object",
                        "properties": {
                            "type_6": {
                                "type": "string",
                                "title": "Layer name",
                                "default": "relu",
                                "options": {
                                    "hidden": "true"
                                }
                            },
                            "params": {
                                "title": "Parametrii stratului",
                                "type": "object"
                            }
                        },
                        "title": "relu"
                    },

                    {
                        "type": "object",
                        "properties": {
                            "type_7": {
                                "type": "string",
                                "title": "Layer name",
                                "default": "leaky_relu",
                                "options": {
                                    "hidden": "true"
                                }
                            },
                            "params": {
                                "title": "Parametrii stratului",
                                "type": "object"
                            }
                        },
                        "title": "leaky_relu"
                    },

                    {
                        "type": "object",
                        "properties": {
                            "type_8": {
                                "type": "string",
                                "title": "Layer name",
                                "default": "tanh",
                                "options": {
                                    "hidden": "true"
                                }
                            },
                            "params": {
                                "title": "Parametrii stratului",
                                "type": "object"
                            }
                        },
                        "title": "tanh"
                    },

                    {
                        "type": "object",
                        "properties": {
                            "type_9": {
                                "type": "string",
                                "title": "Layer name",
                                "default": "mse",
                                "options": {
                                    "hidden": "true"
                                }
                            },
                            "params": {
                                "title": "Parametrii stratului",
                                "type": "object"
                            }
                        },
                        "title": "mse"
                    },

                    {
                        "type": "object",
                        "properties": {
                            "type_10": {
                                "type": "string",
                                "title": "Layer name",
                                "default": "softmax",
                                "options": {
                                    "hidden": "true"
                                }
                            },
                            "params": {
                                "title": "Parametrii stratului",
                                "type": "object"
                            }
                        },
                        "title": "softmax"
                    },

                    {
                        "type": "object",
                        "properties": {
                            "type_11": {
                                "type": "string",
                                "title": "Layer name",
                                "default": "fully_connected",
                                "options": {
                                    "hidden": "true"
                                }
                            },
                            "params": {
                                "title": "Parametrii stratului",
                                "type": "object",
                                "properties": {
                                    "neurons": {
                                        "type": "string",
                                        "title": "Nueorns",
                                        "default": "10",
                                        "format": "text"
                                    }
                                }
                            }
                        },
                        "title": "fully_connected"
                    },

                    {
                        "type": "object",
                        "properties": {
                            "type_12": {
                                "type": "string",
                                "title": "Layer name",
                                "default": "dropout",
                                "options": {
                                    "hidden": "true"
                                }
                            },
                            "params": {
                                "title": "Parametrii stratului",
                                "type": "object",
                                "properties": {
                                    "dropout_ratio": {
                                        "type": "string",
                                        "title": "Dropout ratio",
                                        "default": "0.5",
                                        "format": "text"
                                    }
                                }
                            }
                        },
                        "title": "dropout"
                    },

                    {
                        "type": "object",
                        "properties": {
                            "type_13": {
                                "type": "string",
                                "title": "Layer name",
                                "default": "selu_dropout",
                                "options": {
                                    "hidden": "true"
                                }
                            },
                            "params": {
                                "title": "Parametrii stratului",
                                "type": "object",
                                "properties": {
                                    "dropout_ratio": {
                                        "type": "string",
                                        "title": "Dropout ratio",
                                        "default": "0.5",
                                        "format": "text"
                                    },
                                    "alpha": {
                                        "type": "string",
                                        "title": "Alpha",
                                        "default": "-1.75809934",
                                        "format": "text"
                                    }
                                }
                            }
                        },
                        "title": "selu_dropout"
                    },

                    {
                        "type": "object",
                        "properties": {
                            "type_14": {
                                "type": "string",
                                "title": "Layer name",
                                "default": "selu",
                                "options": {
                                    "hidden": "true"
                                }
                            },
                            "params": {
                                "title": "Parametrii stratului",
                                "type": "object",
                                "properties": {
                                    "alpha": {
                                        "type": "string",
                                        "title": "Alpha",
                                        "default": "1.67326324",
                                        "format": "text"
                                    },
                                    "lambda": {
                                        "type": "string",
                                        "title": "Lambda",
                                        "default": "1.050700987",
                                        "format": "text"
                                    }
                                }
                            }
                        },
                        "title": "selu"
                    }
                ]
            }
        }
    }

  },
  theme: 'bootstrap3',
  no_additional_properties: true,
  disable_edit_json: true,
  disable_properties: true,
  disable_collapse: true,
  language: "ro"
});


var trainingEditor = new JSONEditor(document.getElementById("network_training_editor_holder"), {
  schema: {
        "$schema": "Setarile procesului de antrenare",
        "additionalProperties": true,
        "title": "Setarile procesului de antrenare",
        "definitions": {},
        "type": "object",
        "defaultProperties": [
            "trainer_settings",
            "solver"
        ],
        "properties": {
            "trainer_settings": {
                "type": "object",
                "id": "/properties/trainer_settings",
                "defaultProperties": [
                    "max_num_epochs",
                    "autosave_training_num_epochs",
                    "min_learning_rate_threshold",
                    "min_validation_error_threshold",
                    "learning_rate_decay",
                    "training_dataset_percentage",
                    "batch_size"
                ],
                "properties": {
                    "max_num_epochs": {
                        "type": "string",
                        "id": "/properties/trainer_settings/properties/max_num_epochs",
                        "title": "Număr maxim de epoci",
                        "default": "20",
                        "format": "text"
                    },
                    "autosave_training_num_epochs": {
                        "type": "string",
                        "id": "/properties/trainer_settings/properties/autosave_training_num_epochs",
                        "title": "Epoci parcurse pentru salvare automată",
                        "default": "10",
                        "format": "text"
                    },
                    "min_learning_rate_threshold": {
                        "type": "string",
                        "id": "/properties/trainer_settings/properties/min_learning_rate_threshold",
                        "title": "Limita minimă a ratei de învățare",
                        "default": "0.001",
                        "format": "text"
                    },
                    "min_validation_error_threshold": {
                        "type": "string",
                        "id": "/properties/trainer_settings/properties/min_validation_error_threshold",
                        "title": "Limita minimă a erorii de validare",
                        "default": "0.08",
                        "format": "text"
                    },
                    "learning_rate_decay": {
                        "type": "string",
                        "id": "/properties/trainer_settings/properties/learning_rate_decay",
                        "title": "Valoare de penalizare a ratei de învățare",
                        "default": "0.00004",
                        "format": "text"
                    },
                    "training_dataset_percentage": {
                        "type": "string",
                        "id": "/properties/trainer_settings/properties/training_dataset_percentage",
                        "title": "Procent dimensiune set de antrenament",
                        "default": "80",
                        "format": "text"
                    },
                    "batch_size": {
                        "type": "string",
                        "id": "/properties/trainer_settings/properties/batch_size",
                        "title": "Dimensiunea batch-ului de antrenare",
                        "default": "1",
                        "format": "text"
                    }
                },
                "format": "grid"
            },
            "solver": {
                "type": "object",
                "id": "/properties/solver",
                "defaultProperties": [
                    "algorithm",
                    "learning_rate",
                    "weight_decay",
                    "momentum"
                ],
                "properties": {
                    "algorithm": {
                        "type": "string",
                        "id": "/properties/solver/properties/algorithm",
                        "title": "Algoritm actualizare ponderi",
                        "default": "sgd_momentum",
                        "format": "text",
                        "options": {
                            "hidden": "true"
                        }
                    },
                    "learning_rate": {
                        "type": "string",
                        "id": "/properties/solver/properties/learning_rate",
                        "title": "Rata de învățare de pornire",
                        "default": "0.003",
                        "format": "text"
                    },
                    "weight_decay": {
                        "type": "string",
                        "id": "/properties/solver/properties/weight_decay",
                        "title": "Valoare de penalizare a ponderilor",
                        "default": "0.0005",
                        "format": "text"
                    },
                    "momentum": {
                        "type": "string",
                        "id": "/properties/solver/properties/momentum",
                        "title": "Valoare momentum",
                        "default": "0.9",
                        "format": "text"
                    }
                },
                "format": "grid"
            }
        }
    
  },
  theme: 'bootstrap3',
  no_additional_properties: true,
  disable_edit_json: true,
  disable_properties: true,
  disable_collapse: true,
  language: "ro"
});


    $(document).ready(function() {

        // Create network config from GUI
        $("button[name^=saveNetworkJsonConfig]").click(function(e) {
            e.preventDefault();
            var netConfigData = networkEditor.getValue();
            var configFileName = $("#netcfgname").val();

            if(!configFileName || 0 === configFileName.length) {
                alert("Selectati un nume pentru fisierul de configurare!");
            } else {
                $.ajax({
                    type : "POST",
                    url : "/services/SaveNetworkConfigFileFromGUI",
                    data: {json_str: JSON.stringify(netConfigData), project_name: "{{projectName}}", cfg_name: configFileName},
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    success: function(result) {
                        alert(result);
                        location.reload();
                    },
                    error: function (jqXHR, exception) {
                        alert(exception);
                    }
                });
            }
        });


        // Create training network config from GUI
        $("button[name^=saveTrainingJsonConfig]").click(function(e) {
            e.preventDefault();
            var trainingNetConfigData = trainingEditor.getValue();
            var trainingConfigFileName = $("#nettrainingcfgname").val();

            if(!trainingConfigFileName || 0 === trainingConfigFileName.length) {
                alert("Selectati un nume pentru fisierul de configurare!");
            } else {
                $.ajax({
                    type : "POST",
                    url : "/services/SaveTrainingNetworkConfigFileFromGUI",
                    data: {json_str: JSON.stringify(trainingNetConfigData), project_name: "{{projectName}}", tr_cfg_name: trainingConfigFileName},
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    success: function(result) {
                        alert(result);
                        location.reload();
                    },
                    error: function (jqXHR, exception) {
                        alert(exception);
                    }
                });
            }
        });


        // View network config details
        $("button[name^=buttonViewNetworkConfigInfo]").click(function(e) {
        e.preventDefault();
        queryUrl = $(this).attr("value");
            $.ajax({
                type: 'GET',
                cache: false,
                url: queryUrl, 
                success: function(resp){
                    $("#viewNetworkConfigContent").empty();
                    $('#viewNetworkConfigContent').html(resp.data);
                    $('#displayNetworkConfigInfos').modal('toggle');
                }
            });
        });

        // View training config details
        $("button[name^=buttonViewTrainingConfigInfo]").click(function(e) {
        e.preventDefault();
        queryUrl = $(this).attr("value");
            $.ajax({
                type: 'GET',
                cache: false,
                url: queryUrl, 
                success: function(resp){
                    $("#viewTrainingConfigContent").empty();
                    $('#viewTrainingConfigContent').html(resp.data);
                    $('#displayTrainingConfigInfos').modal('toggle');
                }
            });
        });

        // Check if user selected to continue an existing training
        $("#continueExistingTraining-0").change(function(){ 
            if( $(this).is(":checked") ){
                var selectedValue = $(this).val();

                // Remove all elements from the existing trainings list
                $("#existingTrainingName").children().remove();

                $.ajax({
                    type: 'GET',
                    cache: false,
                    url: "/services/getProjectTrainingsName/{{ projectName }}", 
                    success: function(resp){
                        for(var key in resp.data) {
                            $("#existingTrainingName").append('<option value=' + resp.data[key] + '>' + resp.data[key] + '</option>');
                        }
                        
                        // Assign value to the hidden field and enable the interface
                        $('input[name="existingTrainingNameHidden"]').val($('#existingTrainingName').find(":selected").text());
                        $("#existingTrainingName").prop('disabled', false);
                        $('#existingTrainingName').trigger('change');
                    }
                });
            }
        });

        // Check any change event for the existing trainings select field
        $('#existingTrainingName').change(function(){
            // Assign value to the hidden field
            var selectedValue = $(this).find("option:selected").attr('value');
            $('input[name="existingTrainingNameHidden"]').val(selectedValue);
            // Remove all elements from the the epochs list
            $("#existingTrainingEpoch").children().remove();

            // Get training epochs for the selected training and populate the select field
            $.ajax({
                type: 'GET',
                cache: false,
                url: "/services/getTrainingEpochsName/{{ projectName }}/" + selectedValue, 
                success: function(resp){
                    for(var key in resp.data) {
                        $("#existingTrainingEpoch").append('<option value=' + resp.data[key] + '>' + resp.data[key] + '</option>');
                    }

                    // Assign value to the hidden field and enable the interface
                    $('input[name="existingTrainingEpochHidden"]').val($('#existingTrainingEpoch').find(":selected").text());
                    $("#existingTrainingEpoch").prop('disabled', false);
                }
            });

            // Disable network arhitecture select
            $("#networkArhitecture").prop('disabled', true);
            var selectedTraininfToContinue = $("#existingTrainingName").find("option:selected").attr('value');

            // Get the network arhitecture config file for the selected training
            $.ajax({
                type: 'GET',
                cache: false,
                url: "/services/getNetworkConfigByTraining/{{ projectName }}/" + selectedTraininfToContinue, 
                success: function(resp){
                    $("#networkArhitecture").val(resp.data);
                }
            });
        });

        // Check any change event for the existing training epochs select field
        $('#existingTrainingEpoch').change(function(){
            // Assign value to the hidden field
            var selectedValue = $(this).find("option:selected").attr('value');
            $('input[name="existingTrainingEpochHidden"]').val(selectedValue);
        });

        // Reset fields when continue training is off
        $("#continueExistingTraining-1").change(function(){ 
            if( $(this).is(":checked") ){
                $("#existingTrainingName").children().remove();
                $("#existingTrainingName").prop('disabled', true);
                $("#existingTrainingEpoch").children().remove();
                $("#existingTrainingEpoch").prop('disabled', true);
                // Enable network arhitecture select
                $("#networkArhitecture").prop('disabled', false);
            }
        });
    }); 
</script>

{% endif %}

{% endblock %}